#outer {
    width: 600px;
    height: 600px;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.inner {
    border: 0.1px solid red;
    width: 198.4px;
    height: 198.4px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 80px;
}

#result{
    width: 600px;
    height: 50px;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    padding:0;
    margin:0;
    width: 600px;
    height: 50px;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}